@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 15px;
}
.wrapper div {
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.box1 {
  grid-column: 1 / 5;
  background-color: #f9cb9c;
}

.box2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;   
  background-color: #b6d7a8;
}

.box3 {
  grid-column: 2 / 5;
  background-color: #e3f2fd;
}

.box4 {
  grid-column: 2 / 3;
  background-color: #cfe2f3;
}

.box5 {
  grid-column: 3 / 5;
  background-color: #d9ead3;
  color: white;
}

.box6 {
  grid-column: 1 / 5;
  background-color: #f4cccc;
}
